@import '../../variables';

$navbarHeight: 9.1rem;

.navbarWrapper {
  height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $navbarHeight;
  background-color: $black;
  color: $red;
}

.childrenContainer {
  width: 100%;
  height: calc(100vh - $navbarHeight);
}

.horizontalWrapper {
  display: flex;
  flex-direction: row;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $black;
  width: 11.7rem;
  height: calc(100vh - $navbarHeight);
}

.sidebar::before {
  content: '';
  flex: 1;
}

.iconWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  gap: 2rem;
}

.sidebarText {
  flex: 1;
  text-align: center;
  color: $white;
  line-height: 2.4rem;
  font-size: 1.2rem;
  writing-mode: tb-rl;
  transform: rotate(-180deg);
}

.logo {
  display: flex;
  align-items: center;
  margin: 0 3rem;

  h1 {
    margin-left: 1rem;
  }
}

.linkContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
}

.link {
  color: $white;
  text-decoration: none;
  font-size: 2.4rem;
  font-weight: 500;

  &:hover {
    text-decoration: underline;
  }
}
