@import '../../variables';

.errorPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $black;
  align-items: center;
  gap: 2rem;
  height: 100vh;
  color: $white;
  font-size: large;

  a {
    color: $white;
  }
}
